$yellow2: #FAB002;

.scoreboard {
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 500;
	color: white;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s ease-out;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center center;
	background-color: rgba( 10, 10, 10, .75 );
	font-family: Teko-SemiBold;

	&.open {
		opacity: 1;
		transform: scale( 1 );
		transition: all 0.1s ease-out;
	}

	.name {
		flex-grow: 1;
	}

	.deaths, .kills, .ping, .fps {
		width: 300px;
		text-align: right;
	}

	.ping, .fps {
		width: 100px;
	}

	.deaths {
		margin-right: 20px;
	}

	.header {
		font-weight: 500;
		border-bottom: 5px solid #fc0;
		min-width: 45%;
		margin-bottom: 10px;
		padding-bottom: 5px;
		color: $yellow2;
		background-color: rgba( black, 1 );
		padding: 10px 15px;
		border-color: $yellow2;
	}

	.canvas {
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;

		.entry {
			margin-bottom: 4px;
			padding: 4px 10px;
			color: $yellow2;

			label {
				//	text-shadow: 0px 0px 1px #f70a;
			}

			&.me {
				background-color: rgba( 10, 10, 10, .75 );
				color: #e2e2e2;
			}
		}
	}
}