@using Sandbox.UI;

@namespace Boomer.UI

@inherits RootPanel

@attribute [StyleSheet("/resource/styles/hud.scss")]


<root>
    <AwardQueue></AwardQueue>

    <div class="bottom-left">
        <HealthHud></HealthHud>
        <ArmourHud></ArmourHud>
        <LastDamage></LastDamage>
    </div>

    <div class="bottom-right">
        <AmmoVital></AmmoVital>
        <DashCount></DashCount>
    </div>

    <div class="top-middle">
        <GameHud></GameHud>
        <Speedo></Speedo>
    </div>

    <SpectatorWidget />
    <SettingsMenu />
</root>

@code
{
	public static HudRootPanel Current;

	public Scoreboard Scoreboard { get; set; }

	public HudRootPanel()
	{
		Current = this;

		AddChild<Crosshair>();
		
		AddChild<DamageIndicator>();
		AddChild<HitIndicator>();

		AddChild<InventoryBar>();
		AddChild<PickupFeed>();
		AddChild<KilledHud>();
		AddChild<MovementHint>();

		AddChild<BoomerChatBox>();
		//AddChild<Speedo>();
		AddChild<KillFeed>();
		Scoreboard = AddChild<Scoreboard>();
		AddChild<VoiceList>();
		AddChild<VoiceSpeaker>();
		AddChild<MasterballHud>();
		AddChild<HudMarkers>();
	}

	public override void Tick()
	{
		base.Tick();

		SetClass( "game-end", DeathmatchGame.CurrentState == DeathmatchGame.GameStates.GameEnd );
		SetClass( "game-warmup", DeathmatchGame.CurrentState == DeathmatchGame.GameStates.Warmup );
	}

	protected override void UpdateScale( Rect screenSize )
	{
		base.UpdateScale( screenSize );
	}
}
