$yellow: #ff0;
$orange: #f70;
$yellow2: #FAB002;

SpectatorWidget {
    position: absolute;
    width: 600px;
    top: 0px;
    left: 0px;
    padding: 128px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Teko-SemiBold;
    transform: skew(0deg, 5deg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    label {
        color: $yellow2;
    }

    .title {
        font-size: 64px;
        font-weight: bolder;
    }

    .target {
        font-size: 48px;
        color: #55FF00;
    }

    opacity: 0;

    &.open {
        opacity: 1;
    }

    .inline {
        padding-bottom: 4px;
        flex-direction: row;
        InputHint {
            margin-right: 16px;
        }
    }
}
