@inherits MainMenuPage
@namespace Facepunch.Boomer.MainMenu
@attribute [StyleSheet]

<root>
    <HeaderComponent>
        <SecondaryHeader>
            <nav href="/play/matchmaking">
                <span>Match Making</span>
                <div class="diamond"></div>
            </nav>
            <nav href="/play/server-browser">
                <span>Server Browser</span>
                <div class="diamond"></div>
            </nav>
            <nav href="/play/create">
                <span>Create</span>
                <div class="diamond"></div>
            </nav>
        </SecondaryHeader>
        <TertiaryHeader>
            <span class="title">Server Browser</span>
            <div class="diamond"></div>
            <span class="subtitle">Find and filter through all of the available game servers.</span>
        </TertiaryHeader>
    </HeaderComponent>
    
    <BodyContainer>
        <Body>
            <div class="main">
                <ServerList/>
            </div>
    
            <div class="current-server">
    
            </div>
        </Body>
    </BodyContainer>
</root>

@code
{
}