ServerListPage
{
  BodyContainer
  {
    gap: 16px;

    > .main
    {
      flex-grow: 2;
    }

    > .current-server
    {
      flex-grow: 1;
      background-color: rgba( 0, 0, 0, 10 );
    }
  }
}