@inherits MainMenuPage
@namespace Facepunch.Boomer.MainMenu
@attribute [StyleSheet]

<root>
    <HeaderComponent>
        <SecondaryHeader>
            <nav href="/play/matchmaking">
                <span>Match Making</span>
                <div class="diamond"></div>
            </nav>
            <nav href="/play/server-browser">
                <span>Server Browser</span>
                <div class="diamond"></div>
            </nav>
            <nav href="/play/create">
                <span>Create</span>
                <div class="diamond"></div>
            </nav>
        </SecondaryHeader>
        <TertiaryHeader>
            <span class="title">Server Browser</span>
            <div class="diamond"></div>
            <span class="subtitle">Find and filter through all of the available game servers.</span>
        </TertiaryHeader>
    </HeaderComponent>
    
    <BodyContainer>
        <Body>

            <div class="columns">
                <div class="column is-8">
                    <ServerList/>
                </div>
                 <div class="column is-4">
                    

                    <div class="box">
                        <div class="box-header">
                            <div class="box-title">
                                <labe>Server Name</labe>
                            </div>
                            <a href="#" class="btn is-secondary is-icon">
                                <label class="icon">favorite</label>
                            </a>
                        </div>
                        <div class="box-body">
                            <div class="box-image">
                                <img src="" alt="Server Image"/>
                            </div>
                        </div>

                        <div class="box-footer">
                            <label class="title">facepunch.dockyard</label>
                            <div class="box-footer-info">
                                <div class="bf-info">
                                    <label class="icon">people</label>
                                    <label class="subtitle">24/32</label>
                                </div>
                                 <div class="bf-info">
                                    <label class="icon">wifi</label>
                                    <label class="subtitle">44</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <a class="btn is-secondary fill diamond" >
                            <label class="text">Connect To Server</label>
                            <div class="button-bar">
                                <div class="diamond"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </Body>
    </BodyContainer>
</root>

@code
{
}