
@import "../../Resource/Styles/hud.scss";

SettingsMenu {
    position: absolute;
    z-index: 999;
    width: 40%;
    height: 75%;
    flex-direction: column;
    left: 30%;
    top: 12.5%;
    opacity: 0;

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .body {
        background-color: rgba(black .25);
        flex-grow: 1;
        backdrop-filter: blur(15px);
        border-top: 2px solid $yellow2;
    }

    .navbar button {
        border-radius: 10px 10px 0 0;
        backdrop-filter: blur(15px);
    }
}
