
@import "../../Resource/Styles/hud.scss";

SettingsMenu {
    position: absolute;
    z-index: 999;
    width: 60%;
    height: 75%;
    flex-direction: column;
    left: 20%;
    top: 12.5%;
    opacity: 0;
    font-size: 34px;
    font-family: Teko-SemiBold;

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .body {
        background-color: rgba(black .25);
        flex-grow: 1;
        backdrop-filter: blur(15px);
        border-top: 2px solid $yellow2;
        border-radius: 0 0 10px 10px;
        padding: 20px;
        flex-direction: column;
    }

    .navbar button {
        border-radius: 10px 10px 0 0;
        backdrop-filter: blur(15px);
    }

    .footer {
        flex-direction: column;
        margin-top: 10px;
    }

    .reset-defaults {
        align-self: flex-end;
    }
}

ObjectEditor {
    overflow: scroll;
}

SettingRow {
    background-color: rgba(black .1);
    color: white;
    margin-bottom: 4px;
    align-items: center;
    font-size: 24px;
    font-family: Teko-SemiBold;
    flex-shrink: 0;

    &:hover {
        background-color: rgba(black .3);
    }

    > Label {
        min-width: 200px;
        padding: 10px;
    }

    TextEntry {
        cursor: text;
        height: 100%;
        padding: 20px;
        background-color: black;
    }

    Button.toggle {
        border: 2px solid black;
        background-color: rgba($yellow .01);
        border-radius: 10%;
        width: 32px;
        height: 32px;
        padding: 0;
        margin-right: 5px;

        &:hover {
            background-color: rgba( $yellow .5 );
        }

        &.active {
            background-color: $yellow2;
        }
    }
}
