@using System.Threading.Tasks;

@namespace Facepunch.Boomer.MainMenu
@inherits MainMenuPage
@attribute [StyleSheet]

<root>
    <HeaderComponent>
        <TertiaryHeader>
            <span class="title">Stats</span>
            <div class="diamond"></div>
            <span class="subtitle">All of your stats on Boomer.</span>
        </TertiaryHeader>
    </HeaderComponent>

    <BodyContainer>
        <Body>
            @* <div class="col">
                <StatContainer Gamemode="tdm"/>
                <StatContainer Gamemode="dm"/>
            </div> *@

            <div class="columns">
                <div class="column is-4">

                    <div class="stats-container">
                        <div class="stats-header">
                            <label>Stats</label>
                        </div>

                        <div class="stats-box">
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                            <div class="stats-row">
                                <label class="stats-title">Kills</label>
                                <label class="stats-value">3,523</label>
                            </div>
                        </div>


                    </div>

                </div>
                
                <div class="column is-4">

                    <div class="stats-container">
                        <div class="stats-header">
                            <label>Weapons</label>
                        </div>

                        <div class="stats-box weapons">

                            <div class="weapons-row is-dark-green">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>

                            <div class="weapons-row is-green">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>

                            <div class="weapons-row is-red">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>

                            <div class="weapons-row is-orange">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>

                            <div class="weapons-row is-purple">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>

                            <div class="weapons-row is-blue">
                                <div class="weapon-icon"></div>
                                <label class="weapon-name">Weapon Name</label>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                                <div class="weapon-stat">
                                    <label class="stat-title">Bleh</label>
                                    <label class="stat-value">1452</label>
                                </div>
                            </div>
                            
                        </div>


                    </div>

                </div>

                <div class="column is-4">

                    <div class="stats-container">
                        <div class="stats-header">
                            <label>Weapons</label>
                        </div>

                        <div class="stats-box players">

                            <div class="player-row">
                                <label class="player-position">1</label>
                                <div class="player-info">
                                    <div class="player-avatar"></div>
                                    <label class="player-name">Name</label>
                                </div>
                                <label class="player-value">5623</label>
                            </div>

                            <div class="player-row is-you">
                                <label class="player-position">1</label>
                                <div class="player-info">
                                    <div class="player-avatar"></div>
                                    <label class="player-name">Name</label>
                                </div>
                                <label class="player-value">5623</label>
                            </div>

                            <div class="player-row">
                                <label class="player-position">1</label>
                                <div class="player-info">
                                    <div class="player-avatar"></div>
                                    <label class="player-name">Name</label>
                                </div>
                                <label class="player-value">5623</label>
                            </div>

                            <div class="player-row">
                                <label class="player-position">1</label>
                                <div class="player-info">
                                    <div class="player-avatar"></div>
                                    <label class="player-name">Name</label>
                                </div>
                                <label class="player-value">5623</label>
                            </div>
                            
                        </div>


                    </div>

                </div>

            </div>
        </Body>
    </BodyContainer>
    
    
</root>

@code
{
 
    public override void OnNavigationOpen()
    {
    }
}
