StatContainer
{
    padding: 8px;
    flex-direction: column;

    > .title
    {
        font-weight: bold;
        font-size: 24px;
    }

    .entries
    {
        flex-direction: column;
    }
}
