@using System.Threading.Tasks;

@namespace Facepunch.Boomer.MainMenu
@inherits MainMenuPage
@attribute [StyleSheet]

<root>
    <HeaderComponent>
        <TertiaryHeader>
            <span class="title">Stats</span>
            <div class="diamond"></div>
            <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec iaculis tellus.</span>
        </TertiaryHeader>
    </HeaderComponent>
    
    <div class="col">
        <StatContainer Gamemode="tdm"/>
        <StatContainer Gamemode="dm"/>
    </div>
</root>

@code
{
 
    public override void OnNavigationOpen()
    {
    }
}
