@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Boomer.UI
@inherits Panel

<style>
    KillFeed
    {
        position: absolute;
        top: 32px;
        right: 48px;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        font-family: Quantico;
        text-transform: uppercase;

        .canvas 
        {
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            flex-direction: column;

            gap: 5px;
        }
    }
</style>

<root>
    <div class="canvas" @ref=Canvas>
    </div>
</root>

@code
{
    public Panel Canvas { get; set; }

    [Event( "boomer.kill" )]
    public void OnPlayerKilled( string attacker, string victim, string weapon )
    {
        AddEntry( attacker, victim, weapon );
    }

    public void AddEntry( string attacker, string victim, string weapon )
    {
        var e = Canvas.AddChild<KillFeedEntry>();
        e.AttackerName = attacker;
        e.VictimName = victim;
        e.WeaponIdent = weapon;

        DeleteAsync( e, 5f );
    }

    async void DeleteAsync( KillFeedEntry e, float time = 5f )
    {
        await GameTask.DelaySeconds( time );
        e.Delete();
    }
}