@inherits Panel 
@namespace Facepunch.Boomer.MainMenu

<root>
    <div class="form-control">
        <div class="btn is-icon form-button" @onclick=@(() => Move( false ) )>
            <label class="icon">chevron_left</label>
        </div>
        <div class="form-input">
            <label>@Value</label>
        </div>
        <div class="btn is-icon form-button" @onclick=@(() => Move( true ) )>
            <label class="icon">chevron_right</label>
        </div>
    </div>
</root>

@code
{
    public Enum Value { get; set; }

    void Move( bool right )
    {
        var values = Enum.GetValues( Value.GetType() );
        var indexOf = Convert.ToInt32( Value );
        
        // There's a better way to do this with modulo, but I can't remember for the life of me
        
        var newId = indexOf;
        if ( right )
        {
            if ( indexOf == values.Length - 1 )
                newId = 0;
            else
                newId++;
        }
        else
        {
            if (indexOf == 0)
                newId = values.Length - 1;
            else 
                newId--;
        }
        
        Value = (Enum)Enum.ToObject( Value.GetType(), newId );;
    }
}