@using Sandbox.Razor

<div class="footer">
    <div class="chat">
        <div class="chat-input">
            <label>Press Enter to start typing...</label>
        </div>
    </div>

    @if (FooterModal != null) {
            <div class="footer-modal">
                @FooterModal
                <a href="#" class="btn is-icon is-secondary">
                    <label class="icon">close</label>
                </a>
                <div class="modal-box">
                    <div><span class="modal-text">Searching for Game</span></div>
                </div>

                <div class="modal-bar">
                    <div class="diamond">
                        <div class="crown"></div>
                    </div>
                </div>

                <span class="modal-footer">Queue estimate 32s...</span>
            </div>
    }

    <div class="party">
        <a href="#" class="btn is-icon is-tertiary">
            <label class="icon">group_add</label>
        </a>
        <a href="#" class="btn is-icon is-tertiary">
            <div class="avatar"></div>
        </a>
        <a href="#" class="btn is-icon is-tertiary">
            <div class="avatar"></div>
        </a>
        <a href="#" class="btn is-icon is-tertiary">
            <div class="avatar"></div>
        </a>
        <a href="#" class="btn is-primary has-icon">
            <label class="icon">group</label>
            <label class="text">13</label>
        </a>
    </div>
</div>

@code 
{
    public RenderFragment FooterModal { get; set; }
}