<div class="header-container">
    <div class="header-primary">
        <div class="nav-container">
            <nav href="/">
                <span>Home</span>
            </nav>
            <nav href="play">
                <span>Play</span>
            </nav>
            <nav href="/customize">
                <span>Customize</span>
            </nav>
            <nav href="/stats">
                <span>Stats</span>
            </nav>
        </div>
        <div class="logo"></div>
        <div class="nav-container right">
            <nav href="/settings">
                <span>Settings</span>
            </nav>
            <nav href="#">
                <span>Quit</span>
            </nav>
        </div>
    </div>
    <div class="header-secondary">
        <nav href="#">
            <span>Match Making</span>
            <div class="diamond"></div>
        </nav>
        <nav href="#">
            <span>Server Browser</span>
            <div class="diamond"></div>
        </nav>
        <nav href="#">
            <span>Create</span>
            <div class="diamond"></div>
        </nav>
    </div>
    <div class="header-tertiary">
        <span class="title">Match Making</span>
        <div class="diamond"></div>
        <span class="subtitle">Automatically find a game that meets your requirements</span>
    </div>
</div>
