@using Sandbox.Razor
<div class="header-container">
    <div class="header-primary">
        <div class="nav-container">
            <nav href="/">
                <span>Home</span>
            </nav>
            <nav href="play">
                <span>Play</span>
            </nav>
            <nav href="/customize">
                <span>Customize</span>
            </nav>
            <nav href="/stats">
                <span>Stats</span>
            </nav>
        </div>
        <div class="logo"></div>
        <div class="nav-container right">
            <nav href="/settings">
                <span>Settings</span>
            </nav>
            <nav href="#">
                <span>Quit</span>
            </nav>
        </div>
    </div>
    <div class="header-secondary">
        @SecondaryHeader
    </div>
    
    <div class="header-tertiary">
        @TertiaryHeader
    </div>
</div>

@code 
{
    public RenderFragment SecondaryHeader { get; set; }
    public RenderFragment TertiaryHeader { get; set; }
}
