@using Sandbox
@using Sandbox.UI

@inherits Button
@attribute [Library( "nav" )]

<root>   
    <div class="diamond"></div>
</root>

@code
{
    public string HRef { get; set; }
    public string Title { get; set; }

    NavHostPanel Navigator;
    
    public override void OnParentChanged()
    {
        Navigator = Ancestors.OfType<NavHostPanel>().FirstOrDefault();
    }
    
    public override void Tick()
    {
        base.Tick();

        if ( HRef == null ) return;
        
        // Oh god this sucks
        var active = Navigator?.CurrentUrl.Contains( HRef ) ?? false;
        
        if ( HRef == "/" ) 
            active = Navigator?.CurrentUrl == HRef;
        
        SetClass( "is-active", active );
    }
    
    protected override void OnMouseDown( MousePanelEvent e )
    {
        if ( e.Button == "mouseleft" )
        {
            this.Navigate( HRef );
            e.StopPropagation();
        }
    }
    
    public override void SetProperty( string name, string value )
    {
        base.SetProperty( name, value );

        if ( name == "href" )
        {
            HRef = value;
        }
    }
}
