@inherits MainMenuPage
@namespace Facepunch.Boomer.MainMenu
@attribute [StyleSheet]

<root>
    <HeaderComponent>
        <TertiaryHeader>
            <span class="title">Customize</span>
            <div class="diamond"></div>
            <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec iaculis tellus.</span>
        </TertiaryHeader>
    </HeaderComponent>
    <BodyContainer>
        <span>Customise Page</span>
    </BodyContainer>
</root>

@code
{
}