@inherits MainMenuPage
@namespace Facepunch.Boomer.MainMenu
@attribute [StyleSheet]

<root>
    <section class="icon-header">
        <label class="icon">favorite</label>
    </section>
    <section class="grow">
        @Title
    </section>
    <section class="min-200">
        @MapIdent
    </section>
    <section class="min-200">
        @(Players)/@(MaxPlayers)
    </section>
    <section class="min-100">
        @Ping
    </section>
</root>

@code
{
    public string Title { get; set; }
    public string MapIdent { get; set; }
    public int Players { get; set; } = 0;
    public int MaxPlayers { get; set; } = 0;
    public int Ping { get; set; } = 999;
}