.btn {
    align-items: center;
    backdrop-filter: blur(10px);
    border: 2px solid;
    justify-content: center;
    margin-right: 8px;
    height: 44px;
    padding: 10px;
    transition: all 0.2s ease;

    label.text {
        font-family: Quantico-Bold;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(#000,0.3);
    }

    label.icon {
        font-family: "Material Icons";
        font-size: 18px;
        text-shadow: 0 1px 0 rgba(#000,0.3);
    }

    &:hover {
        transform: scale(1.1); 
        sound-in: ui.button.over;
    }

    &:active {
        sound-in: ui.button.press;
    }

    // If Button has text + icon
    &.has-icon {
        label.icon {
            margin-right: 8px;
            font-size: 24px;
        }
    }

    // Square Icon only button
    &.is-icon {
        width: 44px;

        label.icon {
            font-size: 24px;
            text-align: center;
        }
    }

    // Blue Primary Button
    &.is-primary {
        background: linear-gradient(rgba($blue-light,0), rgba($blue-light,0.1));
        border-color: rgba($blue-light,0.1);
        box-shadow: 0 6px 20px rgba(#000,0.4);
        
        .text, .icon {
            color: linear-gradient(rgba($blue-light,0.8),rgba(#fff,1));
        }

        &:hover {
            background: linear-gradient(rgba($blue-light,0), rgba($blue-light,0.2));
            border-color: rgba($blue-light,0.2);
            
            .text, .icon {
                color: linear-gradient(rgba(#fff,0.8),rgba(#fff,1));
            }
        }
    }

    // Red Primary Button
    &.is-secondary {
        background: linear-gradient(rgba($red,0), rgba($red,0.1));
        border-color: rgba($red,0.1);
        box-shadow: 0 6px 20px rgba(#000,0.4);  
        

        .text, .icon {
            color: linear-gradient(rgba($red,0.8),rgba($red,1));
        }

        &:hover {
            background: linear-gradient(rgba($red,0.05), rgba($red,0.2));
            border-color: rgba($red,0.2);
            
            .text, .icon {
                color: linear-gradient(rgba(#fff,0.8),rgba(#fff,1));
            }
        }
    }

    // Grey Primary Button
    &.is-tertiary {
        background: linear-gradient(rgba($grey-light,0), rgba($grey-light,0.03));
        border-color: rgba($grey-light,0.05);
        box-shadow: 0 6px 20px rgba(#000,0.4);   

        .text, .icon {
            color: linear-gradient(rgba($grey-light,0.8),rgba($grey-light,1));
        }

        &:hover {
            background: linear-gradient(rgba($grey-light,0.05), rgba($grey-light,0.2));
            border-color: rgba($grey-light,0.1);
            
            .text, .icon {
                color: linear-gradient(rgba(#fff,0.8),rgba(#fff,1));
            }
        }
    }

    
}