﻿@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Menu;

@inherits RootPanel
@implements Sandbox.Menu.ILoadingScreenPanel
@attribute [StyleSheet]

@namespace Facepunch.Boomer.MainMenu

<root>
    <div class="background" @ref=Background />

    <div class="col">
        <div class="flex-grow" />

        <label> @(Progress.Title ?? "Loading...")</label>
    </div>
</root>

@code
{
    public LoadingProgress Progress;

    public Panel Background;

    public void OnLoadingProgress( LoadingProgress progress )
    {
        Progress = progress;
        StateHasChanged();
    }

    public override void Tick()
    {
        Background.Style.BackgroundTint = new ColorHsv( 1, 1, 1 )
        .WithHue( Time.Now * 25f );
    }
}