@using Sandbox;
@using Sandbox.UI;

@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]
@namespace Facepunch.Boomer.MainMenu

<root>
    <!-- <div class="background" />
    <div class="navigator-canvas" slot="navigator-canvas" />

    <div class="nav-bar">
        <div class="content">
            <a href="/">
                HOME
            </a>

            <a href="/play" class="play">
                PLAY
            </a>

            <a href="/stats">
                STATS
            </a>
        </div>
    </div> -->

    <div class="header-container">
        <div class="header-primary">
            <nav>
                <a href="/play" class="is-active">
                    <span>Play</span>
                    <div class="diamond"></div>
                </a>
                <a href="#">
                    <span>Customize</span>
                    <div class="diamond"></div>
                </a>
                <a href="/stats">
                    <span>Stats</span>
                    <div class="diamond"></div>
                </a>
            </nav>
            <div class="logo"></div>
            <nav class="right">
                <a href="#">
                    <span>Settings</span>
                    <div class="diamond"></div>
                </a>
                <a href="#">
                    <span>Quit</span>
                    <div class="diamond"></div>
                </a>
            </nav>
        </div>
        <div class="header-secondary">
            <a href="#" class="is-active">
                <span>Match Making</span>
                <div class="diamond"></div>
            </a>
            <a href="#">
                <span>Server Browser</span>
                <div class="diamond"></div>
            </a>
            <a href="#">
                <span>Create</span>
                <div class="diamond"></div>
            </a>
        </div>
        <div class="header-tertiary">
            <span class="title">Match Making</span>
            <div class="diamond"></div>
            <span class="subtitle">Automatically find a game that meets your requirements</span>
        </div>
    </div>

    <div class="body">
        <!-- <div class="navigator-canvas" slot="navigator-canvas" /> -->
        <div class="party-players">
            <div class="player">
                <div class="player-header">
                    <div class="player-level">
                        <label>14</label>
                    </div>
                    <div class="player-name">
                        <label>xx_lewis</label>
                    </div>
                    <div class="player-voice">
                        <label class="icon">mic</label>
                    </div>
                </div>
                <div class="player-body"></div>
                <div class="player-footer">
                    <a href="#" class="btn is-secondary is-icon">
                        <label class="icon">how_to_reg</label>
                    </a>
                    <a href="#" class="btn is-tertiary is-icon">
                        <label class="icon">more_horiz</label>
                    </a>
                </div>
            </div>
            <div class="player">
                <div class="player-header">
                    <div class="player-level">
                        <label>14</label>
                    </div>
                    <div class="player-name">
                        <label>xx_lewis</label>
                    </div>
                    <div class="player-voice">
                        <label class="icon">mic</label>
                    </div>
                </div>
                <div class="player-body"></div>
                <div class="player-footer">
                    <a href="#" class="btn is-secondary is-icon">
                        <label class="icon">how_to_reg</label>
                    </a>
                    <a href="#" class="btn is-tertiary is-icon">
                        <label class="icon">more_horiz</label>
                    </a>
                </div>
            </div>
            <div class="player">
                <div class="player-header">
                    <div class="player-level">
                        <label>14</label>
                    </div>
                    <div class="player-name">
                        <label>xx_lewis</label>
                    </div>
                    <div class="player-voice">
                        <label class="icon">mic</label>
                    </div>
                </div>
                <div class="player-body"></div>
                <div class="player-footer">
                    <a href="#" class="btn is-secondary is-icon">
                        <label class="icon">how_to_reg</label>
                    </a>
                    <a href="#" class="btn is-tertiary is-icon">
                        <label class="icon">more_horiz</label>
                    </a>
                </div>
            </div>
            <div class="player">
                <div class="player-header">
                    <div class="player-level">
                        <label>14</label>
                    </div>
                    <div class="player-name">
                        <label>xx_lewis</label>
                    </div>
                    <div class="player-voice">
                        <label class="icon">mic</label>
                    </div>
                </div>
                <div class="player-body"></div>
                <div class="player-footer">
                    <a href="#" class="btn is-secondary is-icon">
                        <label class="icon">how_to_reg</label>
                    </a>
                    <a href="#" class="btn is-tertiary is-icon">
                        <label class="icon">more_horiz</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="chat">
            <div class="chat-input">
                <label>Press Enter to start typing...</label>
            </div>
        </div>
        <div class="footer-modal">
            <a href="#" class="modal-close">
                    <label class="icon">close</label>
                </a>
            <div class="modal-box">
                <div><span class="modal-text">Searching for Game</span></div>
            </div>

            <div class="modal-bar">
                <div class="diamond">
                    <div class="crown"></div>
                </div>
            </div>

            <span class="modal-footer">Queue estimate 32s...</span>
        </div>
        <div class="party">
            <a href="#" class="add">
                <label class="icon">group_add</label>
            </a>
            <a href="#" class="user">
                <div class="avatar"></div>
            </a>
            <a href="#" class="user">
                <div class="avatar"></div>
            </a>
            <a href="#" class="user">
                <div class="avatar"></div>
            </a>
            <a href="#" class="button">
                <label class="icon">group</label>
                <span>13</span>
            </a>
        </div>
    </div>
</root>

@code
{
    public MainMenu()
    {
        DefaultUrl = "/";
        AddDestination( "/", typeof( HomePage ) );
        AddDestination( "/settings", typeof( SettingsPage ) );
        AddDestination( "/servers", typeof( ServerListPage ) );
        AddDestination( "/play", typeof( PlayPage ) );
        AddDestination( "/servers/setup", typeof( SetupGame ) );
        AddDestination( "/stats", typeof( StatsPage ) );
    }
}